/* Universal */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  line-height: 25px;
}
ul li{
  list-style-type: none;
  display: inline-block;
}
a {
  text-decoration: none;
  padding: 0%;
}

/* Colors */
header{
  background-color: #2C3333;
}
footer {
  background-color: #E7F6F2;
}
body {
  background-color: #E7F6F2;
}
.titles-main {
  color:#395B64;
}
.header-name {
  color: #E7F6F2;
}
.top-links {
  color: #A5C9CA;
}
.bottom-links {
  color: #395B64;
}
.bottom-link-colors {
  color:#395B64;
}
.top-link-colors {
  color: #E7F6F2;
}

/* Header */
header {
  padding: 13px 0 13px 0;
  border-bottom: 2px solid black;
}
.header-name {
  padding-left: 70px;
  display: inline-block;
  font-size: 50px;
}
.top-nav {
  float: right;
  font-weight: bold;
  font-size: 32px;
}
#contact-link {
  padding-right: 70px;
}
.top-links {
  padding: 13px 0 0 30px;
  text-decoration: underline;
  opacity: 1;
  transition-duration: 500ms;
}
.top-links:hover {
  opacity: .75;
  transition-duration: 500ms;
}

/* Footer */
footer {
  margin-bottom: 20px;
}
.bottom-nav {
  font-size: 32px;
  font-weight: bold;
  padding: 32px 0 32px 0;
  text-align: center;
}
.bottom-links {
  padding: 0 1% 0 1%;
  opacity: .75;
  transition-duration: 500ms;
}
#email-link {
  text-decoration: underline;
}
.bottom-links:hover {
  opacity: 1;
  transition-duration: 500ms;
}

/* Figure #1 */
.img-1 {
  position: relative;
  z-index: -1;
  max-width: 100%;
  height: auto;
}
.figure-caption {
  padding: 10px;
  background-color: #E7F6F2;
  position: relative;
  z-index: 1;
  margin-top: -100px;
  margin-right: 50px;
  float: right;
  font-size: 32px;
  font-family: sans-serif;
  color: #395B64;
  font-weight: bold;
}

/* Main Sections */
.main-container {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  justify-content: flex-end;
}
h2 {
  font-size: 50px;
  line-height: normal;
  text-align: right;
}

/* Main Titles */
.titles-main {
  display: block;
  max-width: 200px;
}
.about-me-title {
  padding: 0 5px 0 15px;
}
.work-title {
  padding: 0 5px 0 26px;
}
.contact-title {
  padding: 0 0 0 0;
  margin-left: -15px;
}

/* Projects/Main */
.main-division {
  border-left: 2px solid black;
  margin: 5px 5px 0px 5px;
  padding-left: 20px;
  width: 95%;
  max-width: 1400px;
}

/* Project 1-- */
#project-1 {
  width: 100%;
  height: auto;
  opacity: .8;
  transition-duration: 500ms;
  padding: 0%;
  background-color: white;
} .project-1 {
  border-top: 10px solid #2C3333;
  border-right: 10px solid #2C3333;
  border-bottom: 5px solid #2C3333;
  border-left: 10px solid #2C3333;
  background-color: #2C3333;
} .project-1-figcap {
  padding: 20px;
  background-color: #2C3333;
  position: relative;
  z-index: 1;
  margin-top: -135px;
  margin-right: 50px;
  font-size: 32px;
  font-family: sans-serif;
  color: #E7F6F2;
  font-weight: bold;
  float: left;
} .project-1-figcap-p {
  font-size: 16px;
  padding-top: 5px;
}

/* Project 2-3- */
.projects-22 {
  display: flex;
  justify-content: space-between;
} #project-2 {
  width: 100%;
  height: auto;
  padding: 0%;
  opacity: .8;
  padding: 0%;
  transition-duration: 500ms;
} .project-2 {
  width: 48%;
  position: relative;
  border-top: 6px solid #2C3333;
  border-right: 6px solid #2C3333;
  border-left: 6px solid #2C3333;
  background-color: #2C3333;
} #project-3 {
  width: 100%;
  height: auto;
  opacity: .8;
  padding: 0%;
  transition-duration: 500ms;
} .project-3 {
  width: 48%;
  position: relative;
  border-top: 6px solid #2C3333;
  border-right: 6px solid #2C3333;
  border-left: 6px solid #2C3333;
  background-color: #2C3333;
} #project-4 {
  width: 100%;
  height: auto;
  opacity: .8;
  padding: 0%;
  transition-duration: 500ms;
} #project-5 {
  width: 100%;
  height: auto;
  opacity: .8;
  padding: 0%;
  transition-duration: 500ms;
} .projects-44 {
  display: flex;
  justify-content: space-between;
}

.project-2-figcap {
  padding: 20px;
  background-color: #2C3333;
  position: relative;
  z-index: 1;
  margin-top: -135px;
  margin-right: 50px;
  font-size: 32px;
  font-family: sans-serif;
  color: #E7F6F2;
  font-weight: bold;
  float: left;
} .project-2-figcap-p {
  font-size: 16px;
  padding-top: 5px;
} .project-3-figcap {
  padding: 20px;
  background-color: #2C3333;
  position: relative;
  z-index: 1;
  margin-top: -135px;
  font-size: 32px;
  font-family: sans-serif;
  color: #E7F6F2;
  font-weight: bold;
  float: right;
} .project-3-figcap-p {
  font-size: 16px;
  padding-top: 5px;
}

/* Hover Effects */
#project-1:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
} #project-2:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
} #project-3:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
} #project-4:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
} #project-5:hover {
  cursor: pointer;
  opacity: 1;
  transition-duration: 500ms;
}

.repo-links {
  color: #E7F6F2;
  opacity: 1;
  transition-duration: 500ms;
} .repo-links:hover {
  opacity: .7;
  transition-duration: 500ms;
}